.price-fee .all-rate span { font-size: 1.8em;}
.all-rate {
  width: 91%;
  margin: 0 auto;
}
.all-rate span {
  font-size: 2.3em;
  color: #646464;
}
.all-rate p {
  color: #786450;
  font-size: 1.2em;
}
.enroll-fee {
  background: #ffffea;
  border: 5px solid #efefeb;
  border-radius: 10px;
  padding: 20px 25px;
  margin-bottom: 35px;
}
.enroll-fee h2 {
  color: #ff8b8b;
  font-size: 2.4em;
  font-weight: normal;
  text-align: center;
}
.enroll-fee p {
  color: #918078;
}
.enroll-fee>p:nth-of-type(1) {
  width: 95%;
  margin: 0 auto;
}
.admin-fee {
  background: #efefeb;
  padding: 25px 0 20px 0;
  text-align: center;
}
.admin-fee>p:nth-of-type(1) {
  font-size: 2.2em;
}
